body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin: 15px;
}

.img-d{
    width: 60px;
    height: 60px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}